
.tip {
	font-size: 30px !important;
	color: #535353 !important;
}

.start_btn {
	border-color: #ccc;
	background-color: #d84d13;
	position: relative;
	display: inline-block;
	padding: 10px 46px;
	margin: 30px 0;
	font-size: 32px !important;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	border: 1px solid #666;
	border-radius: 6px;
	/* box-shadow: 0 1px 0 #fff; */
	text-decoration: none;
	z-index: 2;
}

.start_btn.pressed {
	background-color: #f5731d !important;
}

.list_container {
	background-color: #FFFFFF;
}

.list_container.pressed {
	background-color: #535353;
}


.fandian_line{
	top: -10px;
}
