<?xml version='1.0' encoding='utf-8'?>
<widget id="com.swings.elemenu" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>快点</name>
    <description>
        便捷生活，从快点开始。
    </description>
    <author email="kuaidot@163.com" href="http://www.kuaidot.com">
        Swings Inc
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
