#afui.ios7 .wucdbj {
	width: 70%;
	padding-top: 70px;
	padding-bottom: 30px;
}

#afui.ios7 .tip {
	font-size: 24px !important;
	color: #535353 !important;
}

#afui.ios7 a:link {
	text-decoration: none;
}

#afui.ios7 a:active {
	color: #eab3a6;
}
#afui.ios7 a.pressed {
	color: #eab3a6;
}

#afui.ios7 .left_btn {
	position: absolute;
	left: 15px;
	color: white;
	height: 70px;
	padding-top: 34px;
	font-size: 16px;
}

#afui.ios7 .left_btn.pressed {
	color: #eab3a6;
}

#afui.ios7 .left_btn:active {
	color: #eab3a6;
}

#afui.ios7 .left_back_btn {
	position: absolute;
	left: 15px;
	color: white;
	height: 70px;
	padding-top: 34px;
	font-size: 16px;
}

#afui.ios7 .left_back_btn.pressed {
	color: #eab3a6;
}

#afui.ios7 .left_back_btn:active {
	color: #eab3a6;
}

#afui.ios7 .left_back_btn::before {
	z-index: -1;
	font-size: 20px;
	position: absolute;
	top: 34px;
	left: -15px;
	text-align: center;
	border-radius: 0;
	border: none;
	border-color: transparent;
	box-shadow: none;
	-webkit-transform: none;
	transform: none;
	font-family: 'chevron';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\f054";
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	background-color: transparent;
}

#afui.ios7 .right_btn {
	position: absolute;
	right: 15px;
	height: 70px;
	padding-top: 34px;
	font-size: 16px;
	color: white;
}

#afui.ios7 .fandian_li {
	height: 60px;
}

#afui.ios7 .fandian_li.pressed {
	background-color: #FFFFFF;
}

#afui.ios7 .fandian_li:active {
	background-color: #FFFFFF;
}

#afui.ios7 .fandian_line {
	font-size: 16px;
	font-weight: bold;
	width: inherit;
	text-align: left;
	padding-top: 0px;
}

#afui.ios7 .fandian_xin {
	padding-top: 4px;
}
#afui.ios7 .fandian_zan {
}

#afui.ios7 .like_label {
	font-weight: 100;
	font-size: 11px;
	position: absolute;
	margin-left: -43px;
	margin-top: 4px;
	width: 50px;
	text-align: center;
	color: #DA1E9E;
}
#afui.ios7 .address_label {
	font-size: 10px;
	position: absolute;
	left: 20px;
	margin-top: 0px;
	text-align: left;
	color: #C0BBBF;
}
#afui.ios7 .arrow {
	position: absolute;
	top: 8px;
	right: 10px;
}

#afui.ios7 .food_li {
	height: 60px;
}

#afui.ios7 .food_line {
	font-size: 16px;
	font-weight: bold;
	width: inherit;
	text-align: left;
	padding-top: 0px;
}
#afui.ios7 .food_xin {
	padding-top: 4px;
}
#afui.ios7 .food_zan {
}

#afui.ios7 .food_like_label {
	font-weight: 100;
	font-size: 11px;
	position: absolute;
	margin-left: -43px;
	margin-top: 4px;
	width: 50px;
	text-align: center;
	color: #DA1E9E;
}

#afui.ios7 .price_btn {
	position: absolute;
	right: 25px;
	bottom: 15px;
	width: 60px;
	background-color: rgba(255, 255, 255, 0);
	display: inline-block;
	font-size: 14px !important;
	font-weight: 100;
	color: #EB258C;
	text-align: center;
	vertical-align: bottom;
	border: 2px solid #EB258C;
	padding: 5px;
	padding-bottom: 2px;
	border-radius: 6px;
	text-decoration: none;
}
#afui.ios7 .price_btn.pressed {
	background-color: #EB258C !important;;
	border-radius: 6px !important;
	color: #FFFFFF;
}

#afui.ios7 .price_btn:active {
	background-color: #EB258C;
	color: #FFFFFF;
}

#afui.ios7 .order_bar {
	background: #000000;
	height: inherit;
}
#afui.ios7 .round {
	padding-top: 20px;
	padding-left: 20px;
}
#afui.ios7 .order_number {
	position: absolute;
	left: 27px;
	top: 24px;
	text-align: center;
	width: 25px;
	color: #FFFFFF;
	font-size: 20px;
	/*background: #000000;*/
}
#afui.ios7 .total_price {
	position: absolute;
	top: 24px;
	color: #FFFFFF;
	padding-left: 20px;
	font-size: 20px;
}

#afui.ios7 .cellphone {
	position: absolute;
	top: 18px !important;
	right: 20px;
	width: 150px !important;
	background: #4CD60B !important;
	border-radius: 8px;
	height: 40px !important;
	line-height: 40px;
	font-size: 20px;
	border-top: 0px solid #000 !important;
}

#afui.ios7 .cellphone.pressed {
	border-radius: 8px !important;
	color: white;
}

